/shotcut-17.10.tar.gz
/shotcut-17.11.tar.gz
/shotcut-17.12.tar.gz
/shotcut-18.01.tar.gz
/shotcut-18.03.tar.gz
/shotcut-18.03.06.tar.gz
/shotcut-18.05.08.tar.gz
/shotcut-18.06.02.tar.gz
/shotcut-18.07.tar.gz
/shotcut-18.08.tar.gz
