/shotcut-17.10.tar.gz
/shotcut-17.11.tar.gz
/shotcut-17.12.tar.gz
/shotcut-18.01.tar.gz
/shotcut-18.03.tar.gz
/shotcut-18.03.06.tar.gz
/shotcut-18.05.08.tar.gz
/shotcut-18.06.02.tar.gz
/shotcut-18.07.tar.gz
/shotcut-18.08.tar.gz
/shotcut-18.08.11.tar.gz
/shotcut-18.08.14.tar.gz
/shotcut-18.09.16.tar.gz
/shotcut-18.10.01.tar.gz
/shotcut-18.10.08.tar.gz
/shotcut-18.11.18.tar.gz
/shotcut-18.12.23.tar.gz
/shotcut-19.01.19.tar.gz
/shotcut-19.01.24.tar.gz
/shotcut-19.01.27.tar.gz
/shotcut-19.02.28.tar.gz
/shotcut-19.06.04.tar.gz
/shotcut-19.06.15.tar.gz
/shotcut-19.07.15.tar.gz
/shotcut-19.08.16.tar.gz
/shotcut-19.09.14.tar.gz
/shotcut-19.10.20.tar.gz
/shotcut-19.12.08.tar.gz
/shotcut-19.12.16.tar.gz
/shotcut-19.12.31.tar.gz
/shotcut-20.02.02.tar.gz
/shotcut-20.02.17.tar.gz
/shotcut-20.04.12.tar.gz
/shotcut-20.06.28.tar.gz
/shotcut-20.07.11.tar.gz
/shotcut-20.09.13.tar.gz
/shotcut-20.09.27.tar.gz
/shotcut-20.10.31.tar.gz
/shotcut-20.11.25.tar.gz
/shotcut-20.11.28.tar.gz
